@charset "UTF-8";


/* estilo para telas*/
 *{
    margin: 0;
    padding: 0;
 }
 html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
 }
 header{
    background-color: rgb(179, 179, 179);
 }
 header > h1{
    text-align: center;
 }
 menu  > ul{
    background-color: gray;
    list-style-type: none;
    padding: 5px;
    margin: auto;
    text-align: center;
 }
 menu > li{
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: darkred;
 }
 article{
    text-align: justify;
    padding-left: 10px;
    text-indent: 15px;
    line-height: 1.5em;
    width: 600px;
    display: block;
    margin: auto;
 }
 article h2{
    text-align: center;
 }
 
