@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    max-height: 100%vh;
}
body{

    background-size: cover;
    background: black url(imagens/background001.jpg)  center center no-repeat fixed;
    
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header h1{
    padding-top: 50px;
    font-family: 'Passion One'   ;
    font-size: 3.5em;
    font-weight: 400;
    font-variant: small-caps; 
}
header p{
    padding-bottom: 30px;
    font-weight: bolder;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10VH;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    font-family: 'Sriracha', 'cursive';
    font-size: 1.5em;
    text-align: left;
    line-height: 2em;
    padding: 60px;
}
section.imagen{
    font-family: 'Sriracha', 'cursive';
    color: white;
    line-height: 2em;
    font-size: 1.5em;
}
section.imagen > p{
    background-color: rgba(0, 0, 0, 0.233);
    width: 400px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}
